In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import requests
from datetime import datetime, date
from time import mktime
import mysql.connector
import pymysql
from sqlalchemy import create_engine

In [57]:

#date to start query
start = date(2012, 1,2)
unix_start = str(int(mktime(start.timetuple()))) +'/'

#date to end query
end = date(2018,10, 1)
unix_end = str(int(mktime(end.timetuple()))) 

#api url
url = 'https://coinmetrics.io/api/v1/get_asset_data_for_time_range/'

#coin ticker
coin = 'btc/'

#data to be retreived
data_type_price = 'price(usd)/'
data_type_mcap = 'marketcan(usd)/'

#api call
coin_data = requests.get( url + coin+'/' + data_type + str(unix_start) + str(unix_end))

In [65]:
coin_list = ['btc','eth', 'eos']

new_df = pd.DataFrame(None)

#converting json object
'''data = coin_data.json()
data = pd.DataFrame(data)
data = pd.DataFrame(data['result'].values.tolist(), columns=['Date','Price'])'''

for i in coin_list:

        coin_prices = requests.get( url + i+ '/' + data_type_price + str(unix_start) + str(unix_end))
        price_data = coin_prices.json()
        
        coin_mcap = requests.get( url + i+ '/' + data_type_mcap + str(unix_start) + str(unix_end))
        mcap_data = coin_mcap.json()
        
        price_df = pd.DataFrame(price_data)
        mcap_df = pd.DataFrame(mcap_data)
        
        price_df = pd.DataFrame(price_df['result'].values.tolist(), columns=['date',i+'_price'])
        mcap_df = pd.DataFrame(mcap_df['result'].values.tolist(), columns=['date',i+'_market_cap'])
        
        if new_df.empty:
            new_df = price_df.merge(mcap_df, on ="date")
        else:
            new_df = pd.merge(new_df, price_df, on ="date", how='outer')
            new_df = pd.merge(new_df, mcap_df, on ="date", how='outer')
            
new_df['date'] = pd.to_datetime(new_df['date'],unit='s')
new_df = new_df.set_index('date')

In [54]:
#create connection to mysql
host="localhost"
user="root"
passwd="password"
port = 3306
database = 'mydatabase'
engine = create_engine('mysql+pymysql://' + user + ':' + passwd + '@' + host + ':' + str(port) + '/' + database, echo=False)

#create sql table from dataframe
new_df.to_sql(name='cryptocurrency', con = engine, if_exists = 'append')

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [49]:
new_df.tail()

                btc     eth   eos
date
2018-09-24  6704.77  244.84  6.02
2018-09-25  6603.64  228.33  5.68
2018-09-26  6452.79  218.65  5.39
2018-09-27  6495.29  215.44  5.56
2018-09-28  6678.75  229.04  5.83

In [50]:
new_df.describe()

                btc          eth         eos
count   1980.000000  1149.000000  455.000000
mean    2167.766813   214.427927    6.412013
std     3422.900432   285.509394    4.680861
min       68.500000     0.431589    0.492790
25%      311.112500     9.660000    1.775000
50%      586.075000    18.500000    6.020000
75%     1986.175000   337.960000    9.235000
max    19475.800000  1397.480000   21.640000